.body{
  background: #dddeee ;
}

.country-table th{
  font-size: 0.7em;
  color: #8e8e92;
}

.country-table td{
  font-size: 0.6em;
}

.country-table td .fa{
  font-size: 2em;
  margin-right: 10px;
}

.action-panel .fa{
  color: #8e8e92;
  font-size: 0.8em;
  margin: 7px;
}

.action-panel {
  margin-bottom: 15px;
}


.main-container{
  margin-top: 10px;
}